@{
    ViewBag.Title = "AccountList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<STTSoft.STTSoftService.AccountDTO>

<h2>AccountList</h2>
@foreach(var user in Model)
{
    @user.AccName
}