@{
    ViewBag.Title = "AccountInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccountInsert</h2>

<form action="/Admin/AccountInsert" method="POST">     
    Name: <input name="txtName" value=""/>
    Role: <input name="txtRole" value=""/>
    Level: <input name="txtLevel" value=""/>
    Mail: <input name="txtMail" value=""/>
    Phone: <input name="txtPhone" value=""/>
    Password: <input name="txtPass" value="" type="password"/>
    <button type="submit">Submit</button>
</form>  
