@{
    ViewBag.Title = "BankList";
}

<h2>BankList</h2>

@model List<STTSoft.STTSoftService.BankDTO>
<div class="widget-content medias">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th style="color: royalblue">Name</th>
                <th style="color: royalblue">Money</th>
                <th style="color: royalblue">Edit</th>
                <th style="color: royalblue">Delete</th>
            </tr>
        </thead>
        @foreach (var bank in Model)
        {
            <tbody>
                <tr>
                    <td>@bank.AccName</td>
                    <td>@bank.BanMoney VND</td>
                    <td><a href="/Admin/BankEdit?accName=@bank.AccName" class="btn btn-sm btn-danger"><i class="icon-pencil"></i></a></td>
                    <td><a href="/Admin/BankDelete?accName=@bank.AccName" class="btn btn-sm btn-info"><i class="icon-remove"></i></a></td>
                </tr>
            </tbody>
        }
    </table>
</div>
