@{
    ViewBag.Title = "CatalogInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CatalogInsert</h2>

<form action="/Admin/CatalogInsert" method="POST">     
    Name: <input name="txtName" value=""/><br/>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>  