@{
    ViewBag.Title = "CatalogList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CatalogList</h2>

@model List<STTSoft.STTSoftService.CategoryDTO>

<table border="1">
    <tr style="color: blue">
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach(var category in Model)
    {
        <tr>
            <td>@category.CatId</td>
            <td>@category.CatName</td>
            <td><a href="/Admin/CatalogEdit?catId=@category.CatId">Edit</a></td>
            <td><a href="/Admin/CatalogDelete?catId=@category.CatId">Delete</a></td>
        </tr>
    }
</table>
<br/>
<a href="/Admin/CatalogList">CatalogList</a>