@model STTSoft.Models.Category
@{
    ViewBag.Title = "CatalogEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if ((string)Session["role"] == "A")
{
    <h2>CatalogEdit</h2>
    <form action="/Admin/CatalogEdit" method="POST">
        <table>
            <input type="hidden" name="txtCatId" value="@Model.CatId"/>
            <tr>
                <td>Name:
                </td>
                <td>
                    <input name="txtCatName" value="@Model.CatName"/><br />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">
                        Submit</button>
                </td>
            </tr>
        </table>
    </form>
}
else
{
    <div class="row">
        <h2>Bạn không có quyền truy cập trang này.  <a href="@Url.Action("Index", "Home")">Click here</a></h2>
    </div>
}
