  @model List<STTSoft.STTSoftService.CategoryDTO>
@{
    ViewBag.Title = "CatalogList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if ((string)Session["role"] == "A")
{
    <h2>CatalogList</h2>

  
<div class="widget-content medias">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th style="color: royalblue">ID</th>
                <th style="color: royalblue">Name</th>
                <th style="color: royalblue">Edit</th>
                <th style="color: royalblue">Delete</th>
            </tr>
        </thead>
        @foreach (var category in Model)
        {
            <tbody>
                <tr>
                    <td>@category.CatId</td>
                    <td>@category.CatName</td>
                    <td><a href="/Admin/CatalogEdit?catId=@category.CatId" class="btn btn-sm btn-danger"><i class="icon-pencil"></i></a></td>
                    <td><a href="/Admin/CatalogDelete?catId=@category.CatId" class="btn btn-sm btn-info"><i class="icon-remove"></i></a></td>
                </tr>
            </tbody>
        }
    </table>
    </div>
    <br />
    <a href="/Admin/CatalogInsert" class="btn btn-primary">Insert Catalog</a>
}
else
{
    <div class="row">
        <h2>Bạn không có quyền truy cập trang này.  <a href="@Url.Action("Index", "Home")">Click here</a></h2>
    </div>
}