@{
    ViewBag.Title = "ProductInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductInsert</h2>

<form action="/Admin/ProductInsert" method="POST">     
    Name: <input name="txtName" value=""/>
    Detail: <input name="txtDetail" value=""/>
    Image: <input name="txtImage" value=""/>
    Price: <input name="txtPrice" value=""/>
    <button type="submit">Submit</button>
</form>  