@{
    ViewBag.Title = "ProductInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductInsert</h2>

<form action="/Admin/ProductInsert" method="POST">     
    Name: <input name="txtName" value=""/><br/>
    Detail: <input name="txtDetail" value=""/><br/>
    Image: <input name="txtImage" value=""/><br/>
    Price: <input name="txtPrice" value=""/><br/>
    <button type="submit">Submit</button>
</form>  