@using STTSoft.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<Product> list = ViewBag.Product;  
}

<!-- Page heading -->
<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">Trang chủ
			  <!-- page meta -->
    </h2>
    <div class="clearfix"></div>

</div>
<!-- Page heading ends -->
<div class="row">
@foreach(var p in list)
{
    <div class="col-md-4">
        <div class="widget worange">
            <div class="widget-head">
                
                <!--Tên sản phẩm -->
                <div class="pull-left"> <a href="../Home/Detail?ProId=@p.ProId">@p.ProName</a></div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd" style="background-color:whitesmoke">
                    <div class="user">
                        <div class="user-pic" >
                            <!-- Hình ảnh sản phẩm -->
                            <a href="../Home/Detail?ProId=@p.ProId">
                                <img src="../../Content/img/productImage/CallOfDuty.jpg" alt="" style="width: 150px; height: 70px"></a>
                        </div>

                        <div class="user-details">
                            <!--Giá sản phẩm -->
                            <h6 class="text-info" style="color: red">@p.ProPrice.ToString("0,0") VND</h6>
                            <!--Short description -->
                            <p class="text-info">@p.ProDetail</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
