@{
    ViewBag.Title = "AccountInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccountInsert</h2>

<form action="/Admin/AccountInsert" method="POST">     
    Name: <input name="txtName" value=""/><br/>
    Role: <input name="txtRole" value=""/><br/>
    Level: <input name="txtLevel" value=""/><br/>
    Mail: <input name="txtMail" value=""/><br/>
    Phone: <input name="txtPhone" value=""/><br/>
    Password: <input name="txtPass" value="" type="password"/><br/>
    <button type="submit">Submit</button>
</form>  
