@{
    ViewBag.Title = "BankEdit";
}

<h2>BankEdit</h2>


@model STTSoft.Models.Bank
    
<form action="/Admin/BankEdit" method="POST">     
    Name: @Model.AccName <br/>
    Role: <input name="txtBankMoney" value="@Model.BanMoney"/><br/>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>  