@model STTSoft.Models.Bank
@{
    ViewBag.Title = "BankEdit";
}
<h2>BankEdit</h2>

@if ((string)Session["role"] == "A")
{
    <form action="/Admin/BankEdit" method="POST">
        <table>
            <tr>
                <td>Name
                </td>
                <td>
                    @Model.AccName
                    <input name="txtAccName" type="hidden" value="@Model.AccName"/>
                </td>
            </tr>
            <tr>
                <td>Money
                </td>
                <td>
                    
                    <input name="txtBankMoney" value="@Model.BanMoney"/>
                    VND
                </td>
            </tr>
            <tr>
                <td>
                 
                    <button type="submit" class="btn btn-primary" id="CreateNum">
                        Ok</button>
                </td>

            </tr>
        </table>
    </form>
}
else
{
    <div class="row">
        <h2>Bạn không có quyền truy cập trang này.  <a href="@Url.Action("Index", "Home")">Click here</a></h2>
    </div>
}
