@{
    ViewBag.Title = "BankEdit";
}
<h2>BankEdit</h2>
@model STTSoft.Models.Bank
<form action="/Admin/BankEdit" method="POST">
    <table>
        <tr>
            <td>Name
            </td>
            <td>
                @Model.AccName
            </td>
        </tr>
        <tr>
            <td>Money
            </td>
            <td>
                <input name="txtBankMoney" value="@Model.BanMoney"/> VND
            </td>
        </tr>
    </table>
</form>
