@{
    ViewBag.Title = "BankEdit";
}
<h2>
    BankEdit</h2>
@model STTSoft.Models.Bank
<form action="/Admin/BankEdit" method="POST">
<table>
    <tr>
        <td>
            Name: @Model.AccName
            <br />
        </td>
        <td>
            Role:
        </td>
        <td>
            <input name="txtBankMoney" value="@Model.BanMoney"/><br />
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit" class="btn btn-primary">
                Submit</button>
        </td>
    </tr>
</table>
</form>
