@{
    ViewBag.Title = "CatalogEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CatalogEdit</h2>

@model STTSoft.Models.Category

<form action="/Admin/CatalogEdit" method="POST">
    <input type="hidden" name="txtCatId" value="@Model.CatId"/>
    Name: <input name="txtCatName" value="@Model.CatName"/><br/>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>  