@{
    ViewBag.Title = "ProductInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductInsert</h2>

<form action="/Admin/ProductInsert" method="POST">
    <table class="table-hover">
        <tr>
            <td>Name
            </td>
            <td>
                <input name="txtName" value="" />
            </td>
        </tr>
        <tr>
            <td>Detail
            </td>
            <td>
                <input name="txtDetail" value="" />
            </td>
        </tr>
        <tr>
            <td>Image
            </td>
            <td>
                <input name="txtImage" value="" />
            </td>
        </tr>
        <tr>
            <td>Price
            </td>
            <td>
                <input name="txtPrice" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">
                    Submit</button></td>

        </tr>
    </table>
</form>

