@model STTSoft.Models.Category

@using STTSoft.Models
@{Category category = ViewBag.Category; }
@{
    List<Product> list = ViewBag.ProByCatId;
}
<div>
    <h3><em>@category.CatName</em></h3>
       
        @foreach (Product p in list)
        {
          <div class="col-md-4">
        <div class="widget worange">
            <div class="widget-head">
                
                <!--Tên sản phẩm -->
                <div class="pull-left"> <a href="../Home/Detail?ProId=@p.ProId">@p.ProName</a></div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div class="padd">
                    <div class="user">
                        <div class="user-pic">
                            <!-- Hình ảnh sản phẩm -->
                            <a href="../Home/Detail?ProId=@p.ProId">
                                <img src="../../Content/img/productImage/CallOfDuty.jpg" ></a>
                        </div>

                        <div class="user-details">
                            <!--Giá sản phẩm -->
                            <h6>@p.ProPrice.ToString("0,0") VND</h6>
                            <!--Short description -->
                            <p>@p.ProDetail</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
       
</div>
